# Python
__pycache__/
*.py[cod]
*.env
*.sqlite3
*.log
*.pyc

# Django
*.db
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
env/
venv/
staticfiles/
media/

# VS Code
.vscode/

# OS
.DS_Store

# Environment
.env
venv/